#under-construction{
	background-color: #fafdff;
	width: 100vw;
	height: 100vh;
	padding: 15%;

	.title{
		margin-bottom: 4px;

		font-size: 2rem;
	}

	.subheading{
		margin-top: 4px;

		font-size: 1.4rem;
	}

	.social{
		margin-top: 80px;

		.text{
			display: inline-block;
			width: 100%;

			margin-bottom: 12px;

			font-size: 1rem;
		}

		a{
			margin-right: 12px;

			color: #212529;
		}
	}
}