---

---

<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <body>

    <main class="page-content" aria-label="Content">
      <div id="under-construction">
        <div class="container">
          <div class="row">
            <div class="title">
              <b>👋 Hey there!</b>
            </div>
          </div>
          <div class="row">
            <div class="subheading">
              I'm Reza. But this website is currently under construction, so...
            </div>
          </div>
          <div class="row social">
            <div class="text">
              You can get acquinted with me on other platforms for now!
            </div>
            <a href="mailto:{{ site.email }}" target="_blank" class="fb">
              Email
            </a>
            <a href="https://www.linkedin.com/in/{{ site.general_username }}" target="_blank" class="fb">
              LinkedIn
            </a>
            <a href="https://www.instagram.com/{{ site.general_username }}" target="_blank" class="fb">
              Instagram
            </a>
            <a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank" class="fb">
              Facebook
            </a>
          </div>
        </div>
      </div>
    </main>

  </body>

</html>
